@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
nav{
    background-color: rgba(182, 36, 106, 1);
    height: 70px;
    font-size: 32px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    padding-top: 11px;
    padding-left: 20px;
}
.whole{
    color: white;
}
.saga{
    color: rgba(248, 177, 194, 1);
}
.google{
    width: 35px;
    position: absolute;
    margin-left: 70px;
    margin-top: 2px;
}
.destination{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: white;
    margin-left: 110px;
    margin-top: 12px;
    position: absolute;
}

.search{
    padding: 10px;
    border: none;
    border-radius: 18px;
    font-size: 16px;
    margin-left: 260px;
    width: 450px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
    position: absolute;
    margin-top: 2px;
}
.search::placeholder{
    color: black;
}
input:focus{
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.home{
    width: 35px;
    position: absolute;
    margin-left: 840px;
    margin-top: 4px;
}
.cart{
    width: 35px;
    position: absolute;
    margin-left: 930px;
    margin-top: 4px;
}
.Cart{
    color: white;
    margin-left: 970PX;
    font-size: 20px;
    position: absolute;
    margin-top: 12px;
}
.login{
    color: white;
    font-size: 25px;
    margin-left: 1065px;
    margin-top: 7px;
    position: absolute;
}
.caro{
    width: 1439px;

}
.carousel{
   margin-top: 20px;
}
.carousel-indicators{
    gap: 60px;
}
button{
    width: 50px;
    height: 5px;
}
.carousel-control-prev-icon{
   background-color: rgb(90, 89, 89);
   margin-top: 300px;
}
.carousel-control-next-icon{
    background-color: rgb(90, 89, 89);
    margin-top: 300px;
}
.shop-by-cat {
    font-family: "Inter", sans-serif;
    font-size: 35px;
    font-weight: 700;
    margin-left: 90px; 
    margin-top: 35px; 
    /* position: absolute;*/
    display: flex; 
    align-items: center; 
}

.premium-meat {
    font-family: "Inter", sans-serif; 
    font-size: 20px;
    margin-left: 92px; 
    margin-top: 10px; 
    /* position: absolute;*/
    display: flex; 
    align-items: center; 
}

.grid{
    margin-top: 95px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 95px;
    margin-left: 160px !important; 
    gap: 100px;
    width: 80% !important;
}
.image{
    width: 200px;
    /* justify-content: space-between; */
    border-radius: 500px;
}
.item{
    display: flex;
    flex-direction: column;
}
.link{
    text-decoration: none;
}
.Fname{
    font-family: "Inter", sans-serif;
    font-weight: bold;
    margin-top: 20px;
    /* margin-left: 75px; */
    text-align: center;
    color: black;
    
}
.must{
    font-family: "Inter", sans-serif;
    font-size: 2.125rem;
    font-weight: 700;
    margin-left: 90px;
    margin-top: 70px;
    position: absolute;
}
.gallery{
    display: flex;
    margin-top: 190px;
    margin-left: 70px;
    gap: 65px;
}
.Gitem{
    display: flex;
    flex-direction: column;
}
.Gimage{
    width: 390px;
}
.Gname{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    /* word-wrap: wrap; */
    /* width: 204px; */
    margin-top: 20px;
}
.Gweight{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    word-wrap: wrap;
    margin-top: 10px;
}
.Gpieces{
    position: absolute;
    margin-top: 302px;
    margin-left: 50px;
    font-weight: lighter;
}

.price{
    margin-top: 10px;
}
footer{
    height: 320px;
    background-color: rgba(182, 36, 106, 1);
    margin-top: 50px;
}
.Footwhole{
    position: absolute;
    color: white;
    font-size: 28px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    margin-left: 80px;
    margin-top: 20px;
}
.Footsaga{
    color: rgba(248, 177, 194, 1);
    font-size: 28px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    margin-left: 222px;
    margin-top: 21px;
    position: absolute;
}
hr{
    width: 1070px;
    height: 1px;
    background-color: white;
    opacity: 1 !important;
    margin-left: 305px !important;
    margin-top: 43px !important;
    position: absolute;
    border: none !important;
}
.appstore{
    position: absolute;
    margin-left: 100px;
    margin-top: 80px;
}
.playstore{
    position: absolute;
    margin-left: 100px;
    margin-top: 150px;
}
.box1{
    display: flex;
    gap: 195px;
    flex-wrap: wrap;
    margin-left: 545px;
    position: absolute;
    margin-top: 60px;
}
.title{
    font-weight: 600;
    font-size: larger;
    color: white;
}
.para1{
    position: absolute;
    margin-top: 120px;
    margin-left: 545px;
    color: white;
    font-weight: 300;
}
.para2{
    position: absolute;
    margin-top: 116px;
    margin-left: 835px;
    color: white;
    font-weight: 300;
}
.para3{
    position: absolute;
    margin-top: 116px;
    margin-left: 1199px;
    color: white;
    font-weight: 300;
}
.social{
    position: absolute;
    display: flex;
    gap: 20px;
    margin-top: 215px;
    margin-left: 100px;
}
.insta{
    width: 35px;
}
.facebook{
    width: 35px;
}
.twit{
    width: 35px;
}
.Badd{
    width: 40px;
    height: 35px;
    background-color: rgba(182, 36, 106, 1);
    border: none;
    border-radius: 10px;
    margin-top: 225px;
    position: absolute;
    margin-left: 360px;
}
.add{
    width: 20px;
    margin-bottom: 3px;
   
}

